In [1]:
import pandas as pd

In [2]:
#to read a specific number pf rows
df = pd.read_csv("nyc_weather.csv",  nrows=2)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7,0,3,NaN,275

In [3]:
#read data
df=pd.read_csv('nyc_weather.csv')

In [4]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [5]:
#show the table (columns and rows)
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [6]:
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [7]:
#show the last five rows 
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [8]:
df.tail(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [9]:
df.shape # rows, columns = df.shape

(31, 11)

In [10]:
newdf = df[2:5] #rows
newdf

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [11]:
newdf = df.iloc[2:5, :-1] #except last column
newdf

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN

In [12]:
#show all information about your data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [13]:
#number of unique value in each column 
df.nunique()

EST                     31
Temperature             22
DewPoint                21
Humidity                23
Sea Level PressureIn    26
VisibilityMiles          5
WindSpeedMPH            12
PrecipitationIn          7
CloudCover               9
Events                   3
WindDirDegrees          28
dtype: int64

In [14]:
#describe each coulmn 
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [15]:
#show the counts of each unique value in the column 
df['Temperature'].value_counts()

Temperature
26    3
36    3
25    2
33    2
39    2
34    2
43    2
38    1
22    1
37    1
41    1
28    1
31    1
32    1
30    1
47    1
35    1
50    1
44    1
20    1
40    1
46    1
Name: count, dtype: int64

In [16]:
df["Sea Level PressureIn"]

0     30.03
1     30.02
2     29.86
3     30.05
4     30.57
5     30.50
6     30.28
7     30.20
8     30.16
9     29.59
10    29.92
11    29.85
12    29.94
13    29.95
14    29.82
15    29.52
16    29.78
17    29.83
18    30.03
19    30.13
20    30.15
21    30.21
22    29.77
23    29.92
24    30.25
25    30.03
26    30.03
27    29.90
28    29.58
29    30.01
30    29.90
Name: Sea Level PressureIn, dtype: float64

In [17]:
df["Sea Level PressureIn"].max()

30.57

In [18]:
df["Sea Level PressureIn"].min()

29.52

In [19]:
#change data tyype 
df["Sea Level PressureIn"] = df["Sea Level PressureIn"].astype("float32")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.209999,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,NaN,241

In [20]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [21]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [22]:
x =df.columns.to_list()
print(x)
type(x)

['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn', 'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover', 'Events', 'WindDirDegrees']

list

In [23]:
for i in df.Temperature:
    if (i > 30):
        print(i)

38
36
40
33
39
39
44
50
33
35
43
47
36
32
31
34
43
41
37
36
34
46

In [24]:
df.loc[0][0] #location

'1/1/2016'

In [25]:
df.columns[0]

'EST'

In [26]:
df['EST'][0:5]

0    1/1/2016
1    1/2/2016
2    1/3/2016
3    1/4/2016
4    1/5/2016
Name: EST, dtype: object

In [27]:
len(df[df.Temperature==30])  # condition in pandas


#counter = 0          # you can use too The normal way
#for i in df.Temperature:
#    if (i == 30):
#        counter+=1
#counter

1

In [28]:
df [ df.Events == "Rain"   ]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311

In [29]:
df["EST"][df.Events == "Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [30]:
print(df.DewPoint.dtype)

int64

In [31]:
len(df['EST'][ df['Events']!= 'Rain'])

27

In [32]:
print(f"you have : {len(df.columns)} columns" )

you have : 11 columns

In [33]:
df.fillna("?") # fill not a number values

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,?,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,?,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,?,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,?,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,?,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,?,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,?,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,?,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,?,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,?,0,1,?,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,?,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,?,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,?,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,?,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,?,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,?,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,?,312
21,1/22/2016,26,6,41,30.209999,9,?,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,?,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,?,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,?,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,?,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,?,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,?,241

In [34]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.209999,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,NaN,241

In [35]:
newdf = df.fillna(0)
newdf

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [36]:
df.fillna(0, inplace=True)   # to save changes in data

In [37]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [38]:
df.rename(columns={'EST':'Day'},inplace=True) # to change name of columns
df

,Day,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [39]:
df.set_index("Day", inplace=True)    #set index
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Day,,,,,,,,,,
1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [40]:
df.reset_index(inplace=True)
df

,Day,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241